@font-face {
  font-family: 'Tahoma';
  src: local('Tahoma Regular'), local('Tahoma-Regular'),
    //url('Tahoma.woff2') format('woff2'),
    //url('Tahoma.woff') format('woff'),
  url('/fonts/Tahoma.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.display_none {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 222;
}

.btn {
  height: 36px;
  padding: 9px 46px 11px;

  border: 1px solid #39B54A;
  box-sizing: border-box;
  border-radius: 4px;

  color: #000;
  font-size: 14px;
  text-decoration: none;
  line-height: 16px;

  transition: all .3s ease-in-out;

  &:hover {
    background: #39B54A;
    color: #FFFFFF;
    padding: 10px 47px 12px;
  }

  & a {
    text-decoration: none;
  }
}

.btn-green {
  border: 1px solid #39B54A;
  box-sizing: border-box;
  border-radius: 4px;

  &:hover {
    border: none;
    background: #39B54A;
    color: #FFFFFF;
  }
}

.btn-blue {
  border: 1px solid #0071BC;
  box-sizing: border-box;
  border-radius: 4px;

  &:hover {
    border: none;
    background: #0071BC;
    color: #FFFFFF;
  }
}
